<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
</head>
<title> Show Todo</title>

<body>
    <form action="#" th:action="@{/app/show}" th:object="${opt}" method="post">
        <div id="boxes">
            <button type="submit" onclick="reset()"> Reset </button>
            <br>
        </div>
    </form>

    <script type="text/javascript">
        function reset() {
            document.getElementById("boxes").checked = false;
        }
    </script>

    <table>
        <tr>
            <th style="border-right: solid 2px; border-bottom: solid 2px;"> Sharpshooter </th>
            <th style="border-right: solid 2px; border-bottom: solid 2px;"> Sorc </th>
            <th style="border-right: solid 2px; border-bottom: solid 2px;"> Gun Lancer</th>
            <th style="border-right: solid 2px; border-bottom: solid 2px;"> Gun Slinger</th>
            </tr>

            <tr>
                <td style="border-right: solid 2px">
                    <ul style="list-style-type: none;">
                        <li> <input type="checkbox" id="chaosDungeonSS"> </li>
                        <label for="chaosDungeonSS"> Chaos Dungeon </label>

                        <li> <input type="checkbox" id="guardianSS"> </li>
                        <label for="guardianSS"> Guardian Raid </label>

                        <li> <input type="checkbox" id="weeklySS"> </li>
                        <label for="weeklySS"> Weekly Quest </label>

                        <li> <input type="checkbox" id="anguishedSS"> </li>
                        <label for="anguishedSS"> Anguished Isle </label>
                    </ul>
                </td>

                <td style="border-right: solid 2px">
                    <ul style="list-style-type: none;">
                        <li> <input type="checkbox" id="chaosDungeonSO"> </li>
                        <label for="chaosDungeonSO"> Chaos Dungeon </label>

                        <li> <input type="checkbox" id="guardianSO"> </li>
                        <label for="guardianSO"> Guardian Raid </label>

                        <li> <input type="checkbox" id="weeklySO"> </li>
                        <label for="weeklySO"> Weekly Quest </label>
                    </ul>
                </td>

                <td style="border-right: solid 2px">
                    <ul style="list-style-type: none;">
                        <li> <input type="checkbox" id="chaosDungeonGL"> </li>
                        <label for="chaosDungeonGL"> Chaos Dungeon </label>

                        <li> <input type="checkbox" id="guardianGL"> </li>
                        <label for="guardianGL"> Guardian Raid </label>

                        <li> <input type="checkbox" id="weeklyGL"> </li>
                        <label for="weeklyGL"> Weekly Quest </label>
                    </ul>
                </td>

                <td style="border-right: solid 2px">
                    <ul style="list-style-type: none;">
                        <li> <input type="checkbox" id="chaosDungeonGS"> </li>
                        <label for="chaosDungeonGS"> Chaos Dungeon </label>

                        <li> <input type="checkbox" id="guardianGS"> </li>
                        <label for="guardianGS"> Guardian Raid </label>

                        <li> <input type="checkbox" id="weeklyGS"> </li>
                        <label for="weeklyGS"> Weekly Quest </label>
                    </ul>
                </td>
            </tr>
    </table>
    </form>
</body>

</html>